<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}
        <form action={{ url_for('index') }} method=post>
            <dl>
		<dt>How much is Credit Slips:
		<dd><input type=number name=credit_slips>
		<dt>How much is the tips:
		<dd><input type=number name=tips>
		<dt>How much in supplies:(Reminder:reciept in envelope)
		<dd><input type=number name=supplies>
		<dt>How much is Net Total on Z:
		<dd><input type=number name=tape_total>
                <dd><input type=submit value=Submit onclick=index()>
            </dl>
        </form>
{% endblock %}
    </div>
    <div id="footer">
{% block footer %}
{% endblock %}
    </div>
</body>
