<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}
        <form action={{ url_for('index') }} method=post>
            <dl>
		<dt>How much is Credit Slips:
		<dd><input type=number name=credit_slips>
		<dt>How much is the tips:
		<dd><input type=number name=tips>
		<dt>How much in supplies:(Reminder:reciept in envelope)
		<dd><input type=number name=supplies>
		<dt>How much is Net Total on Z:
		<dd><input type=number name=tape_total>
		<dt>How many $100:
		<dd><input type=number name=hundred>
		<dt>How many $50:
		<dd><input type=number name=fifty>
                <dt>How many $20:
                <dd><input type=number name=twenty>
                <dt>How many $10:
                <dd><input type=number name=ten>
		<dt>How many $5:
		<dd><input type=number name=five>
		<dt>How many $1:
		<dd><input type=number name=one>
		<dt>How many $0.25:
		<dd><input type=number name=quarter>
		<dt>How many $0.10:
		<dd><input type=number name=dime>
		<dt>How many $0.05:
		<dd><input type=number name=nickel>
		<dt>How many $0.01:
		<dd><input type=number name=penny>
                <dd><input type=submit value=Submit onclick=index()>
            </dl>
        </form>
{% endblock %}
    </div>
    <div id="footer">
{% block footer %}
{% endblock %}
    </div>
</body>
